<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
    <div class="p-3">
        <div class="row">
            <div>
                <a (click)="onLogout()">Cerrar sesion</a>
            </div>
        </div>
    </div>
</aside>