<div class="row">
    <div class="col-md-12">
        <div class="flex">
            <div class="col-md-2">
                <label for="">Usuarios</label>
            </div>
        </div>
        <div class="col-md-12 text-right">
            <button type="button" class="btn btn-secondary addproduct" (click)="abrirModal()">
                Crear Usuarios
            </button>
        </div>
        <dx-data-grid style="font-size: 12px; height: 320px;" id="gridUsuario" #gridUsuario [dataSource]="listUsuario"
            [showBorders]="true" [showColumnLines]="true" [showRowLines]="true" [allowColumnResizing]="true"
            [columnAutoWidth]="true">
            <dxo-selection mode="single"></dxo-selection>
            <dxo-paging [pageSize]="10"></dxo-paging>
            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 15, 20, 25, 30]" [showInfo]="true">
            </dxo-pager>
            <dxi-column dataField="id_tipo_documento" [allowEditing]="true" [width]="280" caption="Tipo Documento">
                <dxo-lookup [dataSource]="listTipoDocumento" valueExpr="id" displayExpr="nombre">
                </dxo-lookup>
            </dxi-column>
            <dxi-column dataField="documento" [allowEditing]="false" caption="Documento"></dxi-column>
            <dxi-column dataField="nombre" [allowEditing]="false" caption="Nombre"></dxi-column>
            <dxi-column dataField="email" [allowEditing]="false" caption="Email"></dxi-column>
            <dxi-column dataField="estado" [allowEditing]="true" [width]="280" caption="Estado">
                <dxo-lookup [dataSource]="Estados" valueExpr="estado" displayExpr="nombre">
                </dxo-lookup>
            </dxi-column>
            <dxi-column type="buttons" caption="Acciones">
                <dxi-button text="Detalle" hint="Detalle" icon="../../../assets/img/detalle.ico" [onClick]="Editar">
                </dxi-button>
                <dxi-button text="Detalle" hint="Detalle" icon="../../../assets/img/trash.png" [onClick]="Desactivar">
                </dxi-button>
            </dxi-column>
        </dx-data-grid>
    </div>
</div>

<div class="modal fade" id="ModalActualizarEditar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content zommcontent">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="UsuarioForm" (ngSubmit)='onCreateUsuario()'>
                    <div class="row">

                        <div class="col col-3">
                            <div class="form-group">
                                <label>Tipo documento</label>
                                <dx-select-box [dataSource]="listTipoDocumento" formControlName="id_tipo_documento"
                                    valueExpr="id" displayExpr="nombre">
                                </dx-select-box>
                            </div>
                        </div>
                        <div class="col col-3">
                            <div class="form-group">
                                <label reqItem>Documento</label>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-id-card" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <input type="text" class="form-control" formControlName="documento" id="documento">
                                </div>
                            </div>
                        </div>
                        <div class="col col-5">
                            <div class="form-group">
                                <label reqItem>Nombre</label>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-user" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <input type="text" class="form-control" formControlName="nombre" id="nombres">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-6">
                            <div class="form-group">
                                <label reqItem>Email</label>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <input type="email" class="form-control" formControlName="email" id="email">
                                </div>
                            </div>
                        </div>
                        <div class="col col-5" *ngIf="isNew">
                            <div class="form-group">
                                <label reqItem> Contraseña</label>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-key" aria-hidden="true"></i></div>
                                    </div>
                                    <input type="password" class="form-control" formControlName="password"
                                        id="password">
                                </div>
                            </div>
                        </div>
                        <input name="id" formControlName="id" placeholder="id" class="form-control" type="hidden">
                    </div>

                    <div class="row-fluid text-right">

                        <div class="btn-group" role="group">
                            <button type="submit" class="btn btn-success">
                                <i class="far fa-save"></i> Guardar
                            </button>

                            <button type="button" class="btn btn-danger" (click)="cancelarModal()">
                                <i class="far fa-times-circle"></i> Salir
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>