<div class="wrapper">
    <app-header></app-header>
    <app-menu></app-menu>
    <div #contentWrapper class="content-wrapper">
        <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
    <app-setting></app-setting>
</div>