<div class="row">
    <div class="col-md-12">
        <div class="flex">
            <div class="col-md-2">
                <label for="">Categoria</label>
            </div>
        </div>
        <div class="col-md-12 text-right">
            <button type="button" class="btn btn-secondary addproduct" (click)="abrirModal()">
                Crear categoria
            </button>
        </div>
        <dx-data-grid style="font-size: 12px; height: 320px;" id="gridCategoria" #gridCategoria
            [dataSource]="listCategoria" [showBorders]="true" [showColumnLines]="true" [showRowLines]="true"
            [allowColumnResizing]="true" [columnAutoWidth]="true">
            <dxo-selection mode="single"></dxo-selection>
            <dxo-paging [pageSize]="10"></dxo-paging>
            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 15, 20, 25, 30]" [showInfo]="true">
            </dxo-pager>
            <dxi-column dataField="id" [allowEditing]="false" caption="Codigo" [visible]="false">
            </dxi-column>
            <dxi-column dataField="nombre" [allowEditing]="false" caption="Nombre"></dxi-column>
            <dxi-column dataField="estado" [allowEditing]="true" [width]="280" caption="Estado">
                <dxo-lookup [dataSource]="Estados" valueExpr="estado" displayExpr="nombre">
                </dxo-lookup>
            </dxi-column>
            <dxi-column type="buttons" caption="Acciones">
                <dxi-button text="Detalle" hint="Detalle" icon="../../../assets/img/detalle.ico" [onClick]="Editar">
                </dxi-button>
                <dxi-button text="Detalle" hint="Detalle" icon="../../../assets/img/trash.png" [onClick]="myCommand">
                </dxi-button>
            </dxi-column>
        </dx-data-grid>
    </div>
</div>


<div class="modal fade" id="ModalActualizarEditar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content zommcontent">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="CategoriaForm" (ngSubmit)='onCreateCategoria()'>
                    <div class="form-group">
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group" visible=false>
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input name="id" formControlName="id" placeholder="id" class="form-control"
                                    type="hidden">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Nombre</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input name="Nombre" formControlName="nombre" placeholder="Nombre" class="form-control"
                                    type="text">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label">Estado</label>
                        <div class="col-md-4 selectContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                <select formControlName="estado" name="department" class="form-control selectpicker">
                                    <option value=-1>Seleccione el estado</option>
                                    <option value=1>Activo</option>
                                    <option value=0> Inactivo</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid text-right">

                        <div class="btn-group" role="group">
                            <button type="submit" class="btn btn-success">
                                <i class="far fa-save"></i> Guardar
                            </button>

                            <button type="button" class="btn btn-danger" (click)="cancelarModal()">
                                <i class="far fa-times-circle"></i> Salir
                            </button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>