<div class="login-box" id="login">
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg"><b>SUIT</b> ADMIN</p>
            <form [formGroup]="loginForm" (ngSubmit)='onLogin()'>
                <div class="input-group mb-3">
                    <input class="form-control" formControlName="username" type="email" placeholder="Email" required>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="Password" required
                        formControlName="password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block">Iniciar sesion</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            <p class="mb-1">
                <a href="forgot-password.html">Olvidé la contraseña</a>
            </p>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>