/* You can add global styles to this file, and also import other style files */

.dx-datagrid-summary-item.dx-datagrid-text-content {
    font-size: 15px;
  }
  .dx-datagrid-toolbar-button.dx-edit-button.dx-datagrid-addrow-button.dx-button.dx-button-normal.dx-button-mode-contained.dx-widget.dx-button-has-icon.dx-button-has-text {
    display: none;
  }
  
::ng-deep .dx-header-row .cell-negrita {
    font-weight: bold;
    font-size: 17px;
    color: #000;
  }
  
  .dx-header-row > td[role='columnheader'] > div.dx-datagrid-text-content {
    font-size: 14px;
    font-weight: bold;
    color: #000;
  }
  
  // colocar en negrita titulos
  td.dx-command-edit.dx-command-edit-with-icons.dx-cell-focus-disabled {
    font-weight: bold;
    color: #000;
  }
  
  .dx-overlay-content.dx-popup-normal.dx-resizable.dx-popup-inherit-height {
    left: 10% !important;
  }
  