<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <div class="brand-link">
        <img src="assets/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
            style="opacity: .8">
        <span class="brand-text font-weight-light">SUIT </span>
    </div>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="info">
                <h6 class="d-block" style="color:white">{{nombreUsuario}}</h6>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a [routerLink]="['/admin/ciudad']" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Ciudades</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/admin/departamento']" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Departamento</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/admin/pais']" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Pais</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/admin/tipodocumento']" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Tipos de documento</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/admin/regimentributario']" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Regimen tributario</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/admin/tiposolicitud']" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Tipo de solicitudes</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/admin/categoria']" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Categorias
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/admin/servicio']" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Servicios</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/admin/usuario']" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Usuarios</p>
                    </a>
                </li>
            </ul>
        </nav>