<footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
        UAC
    </div>
    <!-- Default to the left -->
    <strong>Copyright © 2020 De la Cruz Carlos & Vargas Fernando.</strong> All rights reserved.
</footer>